.wrapper {
  height: 100%;
  width: 100%;
  background: url('../../resource/image/xingkong.jpg');
  background-size: cover;
}

.moment {
  padding-left: 100px;
}

.header-title {
  font-size: 20px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  // background: url('../../resource/image/page-bg.png');
}

.login-wrapper {
  margin: 0 auto 0;
  text-align: center;
  position: relative;

  .form-wrapper {
    padding-left: 20px;
  }
}

.ant-tabs-nav {
  width: 100%;
}

.ant-tabs-nav .ant-tabs-tab {
  width: 50%;
  margin-right: 0;
}

.ant-tabs {
  border-radius: 10px;
}

.ant-form {
  width: 100%;
}