.rdw-editor-wrapper {
  height: 400px;
  border: 1px solid #ccc;
}

.DraftEditor-editorContainer {
  padding: 20px;
}

.rdw-editor-main {
  height: 325px !important;
  overflow: auto;
}

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  height: 280px !important;
}