.main{
  width:1190px;
  margin:0 auto;
}
.header{
  height:50px;
  line-height: 50px;
  background-color: #fff;
  li{
    float:left;
    margin:0 10px;
  }
  .logo-wrap{
    span{
      float:left;
      margin-right:20px;
    }
    .left-menu{
      float:left;
    }
  }
  .input-wrap{
    float:right;
    .search{
      float:left;
      height:30px;
      line-height: 30px;
      outline: none;
      border:none;
      margin-top:10px;
      background: #f5f5f5;
      text-indent: 1rem;
      margin-right:20px;
      border-radius: 5px;
    }
    .right-menu {
      float:left;
    }
  }
}
.content{
  .left-nav{
    width:100px;
    background: #fff;
    margin-top:20px;
    position:fixed;
    top:50px;
    left:165px;
    li{
      height:30px;
      line-height: 30px;
      text-align: center;
    }
  }
  .wrapper{
    margin-left:120px;
    margin-top:20px;
    display: flex;
    justify-content: space-around;
  }
  .main-content{
    width:100%;
    margin-right:10px;
    .ad{
      height:60px;
      background: #fff;
    }
    .swiper{
      height:120px;
      width:100%;
      margin-top:20px;
      background: #fff;
    }
    .item-wrap{
      width:100%;
      background: #fff;
      margin-top:20px;
      li{
        height:100px;
        padding:10px;
        border-bottom:1px solid #ccc;
        span{
          margin-right:10px;
        }
        .userinfo{
          float:left;
        }
        .count-wrap{
          float:right;
        }
      }
    }
  }
  .right-nav{
    float:right;
    width:200px;
    height:500px;
    background: #fff;
  }
}