.header-nav-wrap {
  height: 114px;
  line-height: 114px;
  background: #fff;
  font-size: 16px;
  box-shadow: 0px 5px 7px 2px #d9d9d9;
  position: relative;
  z-index: -1;
  .logo-wrap {
    width: 100%;
    display: flex;

    span {
      margin-right: 10px;
    }

    .left-menu {
      float: left;
      margin-left: 50px;

      li {
        transition: all 1s ease;
        float: left;
        margin: 0 15px;
        color: #000;

        &:hover {
          color: #f00;
          transform: translateY(-5px);
        }
      }
    }
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 169px;
  line-height: 169px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.content {
  margin-top: 20px;
  position: relative;
  z-index: -1;
  .main {
    padding-left: 200px;
    position: relative;
    z-index: 1;
    .content-left {
      position: absolute;
      top: 0;
      left: 28px;

      .left-nav {
        width: 160px;
        background: #fff;
        padding-left: 20px;
        box-shadow: 0px 5px 7px 2px #d9d9d9;
        border-radius: 10px;

        li {
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          color: #000;
          transition: all 1s ease;

          &:hover {
            color: #f00;
            transform: translateY(-5px);
          }
        }
      }
    }

    .blog-list-wrap {
      margin-top: 20px;

      .blog-list {
        li {
          margin-bottom: 10px;
          background-color: #fff;
          padding: 10px 20px;
          border-bottom: 1px solid #ccc;
          border-radius: 10px;
          padding-bottom: 20px;
          transition: all 1s ease;

          &:hover {
            box-shadow: 0px -5px 7px 2px #d9d9d9, 0px 5px 7px 2px #d9d9d9;
            transform: translateY(-5px);

            p {
              transform: translateY(-5px);
            }

            h3 {
              transform: translateY(-5px);
            }

            .bottom-wrap {
              transform: translateY(-5px);
            }
          }

          h3 {
            font-size: 18px;
            font-weight: bold;
            transition: all 1s ease;
          }

          p {
            transition: all 1s ease;
          }

          .bottom-wrap {
            display: flex;
            justify-content: space-between;
            transition: all 1s ease;

            span {
              margin-right: 10px;
              color: #3d3d3d;

              &:hover {
                color: #f00;
              }

              &.timer:hover {
                color: #3d3d3d;
              }
            }
          }
        }
      }
    }
  }
}