.main{
  width:1190px;
  margin:0 auto;
  .detail-wrapper{
    padding:40px;
    margin-top:30px;
    width:800px;
    float:right;
    background: #fff;
    .detail-top{
      h3{
        .articletype{
          height:30px;
          width:30px;
          text-align: center;
          line-height: 30px;
          font-size: 12px;
          border:1px solid #ccc;
          display: inline-block;
          border-radius: 50%;
          margin-right:20px;
        }
      }
      p{
        span{
          margin-right:30px;
          font-size: 12px;
        }
        border-bottom:1px solid #ccc;
        padding-bottom:10px;
      }
    }
    .content-box{
      p{
        font-size: 12px;
      }
      .main-content{
        margin-top:30px;
      }
    }
  }
}